.retangulo{
  transform: translate(-10%,  -10%);  
  width: 500px;
  height: 1000px;
  background-color:black;
  margin: 50px;  
}

body{
  background-image: url('https://acegif.com/wp-content/uploads/2021/4fh5wi/bemvindo-15.gif');
  margin: auto;
  padding: auto;
  font-family: sans-serif;
  background-size: cover;
}

.login-box{
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.login{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid red;
  padding: 10px 0;
}

.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid red;
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input{
  border: none;
  outline: none;
  background: none ;
  color: white;
  font-size: 18px;
  width: 200px;
  float: left;
  margin: 0 10px;
}

.btn{
  width: 100%;
  background: none;
  border: 2px solid red;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0; 
}

.lista{
  width: 100%;
  background: black;
  border: 2px solid red;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;  
}